<div class="row templates">
    <div class="col-md-4">
        <h3>Blue template</h3>
        <img src="img/template.png" alt="">
        <h4>$19.99</h4>
        <a href="#!/templates/1" class="btn btn-primary btn-block">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Red template</h3>
        <img src="img/template.png" alt="">
        <h4>$19.99</h4>
        <a href="#!/templates/1" class="btn btn-primary btn-block">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Green template</h3>
        <img src="img/template.png" alt="">
        <h4>$19.99</h4>
        <a href="#!/templates/1" class="btn btn-primary btn-block">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Grey template</h3>
        <img src="img/template.png" alt="">
        <h4>$19.99</h4>
        <a href="#!/templates/1" class="btn btn-primary btn-block">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Orange template</h3>
        <img src="img/template.png" alt="">
        <h4>$19.99</h4>
        <a href="#!/templates/1" class="btn btn-primary btn-block">Details</a>
    </div>
</div>